@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

body{

    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.website-overview,.footer{
    background-color: #1F2937;
    padding: 20px 100px;
    flex:1;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; 
}

.header:first-child{
    font-size: 24px;
    color:#f9faf8;
}

.header-links a{
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;

}

.awesome-website {
    display: flex;
    justify-content: space-between;   
}

.left-text{
    width: 300px;
}

.text1{
    font-size: 48px;
    font-weight: 9000;
    color: #f9faf8;

}

.text2 ,.header-links a{
    font-size: 18px;
    color:#e5e7eb
}

.text2{
    margin-bottom: 10px;
}

.right-image{
  width: 300px;
 
 
}

button{
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 40px;
}

/*     */
.main-content{
    padding-bottom: 100px;
   
}

.main-content-title{

    font-size:36px;
    font-weight: bolder;
    color:#1f2937;
    text-align: center;
    margin: 30px 0;
}

.main-content-boxes{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    
}

.box{
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}
.text3{
    width: 100px;
    text-align: center;
}

